{% extends 'mailing/base.html' %}
{% block content %}

{% if not user.is_authenticated %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>Вас приветствует сервис управления рассылками!</h2>
    <h4>Для старта работы с рассылками зарегистрируйтесь или выполните вход в систему.</h4>
</div>
{% endif %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h4>Статистика сервиса</h4>
    <p class="lead">Количество рассылок всего: {{mailing_count}}</p>
    <p class="lead">Количество активных рассылок: {{active_mail_count}}</p>
    <p class="lead">Количество уникальных клиентов для рассылок: {{client_count}}</p>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for object in object_list %}
            {% include 'mailing/includes/inc_blog.html' with object=object %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}