{% extends 'mailing/base.html' %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-block btn-outline-primary">
                                    {% if object %}
                                    Сохранить
                                    {% else %}
                                    Добавить
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}